body {
    display: block;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url("/Images/Unknown.jpg") no-repeat center center/cover;
    
}

img {
    border-radius: 50%;
}


h1 {
    font-size: 50px;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 15%;
    padding-top: 5px;
    color: #f1f1f1;
    
}

.search {
    width: max-content;
    display: flex;
    align-items:center;
    padding: 14px;
    border-radius: 28px;
    background: white;
    transition: background 0.25s; 
    margin-left: 15%;
    width: 70%;
}

.search:focus-within {
    background: #f1f1f1;
}

.search-input {
    font-size: 20px;
    font-family: 'lexend' sans-serif;
    color: #333333;
    margin-left: 30px;
    outline: none;
    border: none;
    background: transparent;
  
    

}

.search-input ::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.5);
}

/* CLEAR FLOATS */

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}


/* CHANGE STYLES FOR CANCEL BUTTON AND SIGNUP BUTTON ON EXTRA SMALL SCREENS */

.btn:hover {
    background: darkgrey;
}



.cancelbtn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top:15px;
    margin-left: 40%;
    font-size: 19px;
    padding-left: 5px;
    border-radius: 10px;
   
    

       
}

.signupbtn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 19px;
    padding-right: 5px;
    border-radius: 10px;
   
 

}   

h2 {
    font-size: 17px;
    text-align: center;
    margin-top: 30px;
    color: #f1f1f1;
   
}

footer {
    margin-top: 400px;
    font-size: 15px;
    background-color: #b5afaf;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    



}



